<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetroTile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RetroTile.Properties.Settings>
            <setting name="TileManiacAllowDirect16x16TilesGIFEditing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileManiacPromptForChoiceOnImageWrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileManiacClassicMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileManiacShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileManiacRenderViewerSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TileManiacListSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TileManiacViewAppearanceMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TileManiacMirrorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileManiacWindowAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileManiacEnableWindowsClipboard" serializeAs="String">
                <value>False</value>
            </setting>
        </RetroTile.Properties.Settings>
    </userSettings>
</configuration>